/*geral*/
p, h1, h2, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input, button{
    outline: 0;
}
img{
    display: block;
}

body{
    margin: 0;
    display: grid;
    grid-template-areas: "header" "section" "contact" "aside" "footer";
    grid-template-rows: 550px 40vh 50vh 50vh 10vh;
}

/*HEADER*/

header{
    grid-area: header;
    border-top: #4CAF50 20px solid;
    background-image: url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .hand{
    align-self: flex-end;
}

header .hand img{
    height: 430px;
}

header .p1{
    width: 27%;
    justify-self: self-start;
}

header .p1 h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 35pt;
    font-weight: normal;
    margin-bottom: 40px;
    
}

span{
    color: #4CAF50;
}

header .p1 .txt{
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}  

header .p1 .box{
    display: flex;
    justify-content: flex-start;
}

header .p1 .box a{
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background .3s ease-in-out ;
    margin: 15px 15px 0 0 ;
}

header .p1 .box img{
    height: 20px;
    width: 20px;
    padding: 10px 10px;
}

header .p1 .box a:hover{
    background: #4CAF50;
}

/*SECTION*/

section{
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section div {
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

section div img{
    background-color: #4CAF50;
    margin: 0 auto;
    padding: 15px;
    border-radius: 50%;
}

section div p{
    color: gray;
}

/*CONTACT*/

.contact{
    grid-area: contact;
    background-color:  #e3e3e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact .box{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact .box div{
    width: 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.contact .box div p{
    color: gray;
    margin: 15px 0;
    line-height: 25px;
}

.contact .box div input{
    padding: 15px 0 15px 20px;
    border: 1px solid gray;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.contact .box div button{
    padding: 16px 20px;
    background-color: #4CAF50;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: -5px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background .3s ease-in-out ;
}

.contact .box div button:hover{
    background-color: rgb(52, 136, 55);
}





















/*ASIDE*/

aside{
    grid-area: aside;
    background-color: blueviolet;
}

/*FOOTER*/

footer{
    grid-area: footer;
    background-color: red;
}